<a href="https://colab.research.google.com/github/tulinkarahan/PatikaInsertionSort/blob/main/content/python/Container08_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table width="100%">
    <tr style="">
        <th style="text-align:left; padding:0px" width="5%">
            <a href="https://www.marmara.edu.tr" target="_blank">
                <img src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/mu_logo.png">
            </a>
        </th>
        <th style="padding:0px;" width="35%">
            <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/name.png">
        </th>
        <th  width="20%">
            &nbsp;
        </th>
        <th style="padding:0px" width="5%">
            <a href="https://www.sababozpolat.com" target="_blank" padding="0px">
                <img align="center" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/hp.png">
            </a>
        </th>
        <th style="padding:0px" width="5%">
            <a href="mailto:saba.bozpolat@gmail.com" target="_blank">
                <img align="center" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/email.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://www.linkedin.com/in/saba-bozpolat-644856152/" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/in.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://scholar.google.com.tr/citations?user=nSiJoMYAAAAJ&hl=en" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/GS.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://www.researchgate.net/profile/Saba-Bozpolat" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/RG.png">
            </a>
        </th>
        <th style="padding:0px" width="5%">
            <a href="https://www.youtube.com/channel/UC8-uOZud6UL7oCOE2UUBunA" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/YT.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://github.com/sbbzplt" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/GH.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://join.slack.com/t/mu-fzk/shared_invite/zt-13jtd6dtd-g9zD5P4Zu0m5P0Gt2PNReQ"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/slack.png">
            </a>
        </th>
    </tr>
</table>
<table width="100%">
    <tr style="background-color:white;">
        <!-- <td style="text-align-left;padding:0px;" width="10%">
            <a href="https://fef.marmara.edu.tr"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/fef.png">
            </a>
        </td> -->
        <td style="padding:0px" width="25%">
            <a href="http://fzk.fen.marmara.edu.tr"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/fzk.png">
            </a>
        </td>
        <td width="10%">
            &nbsp;
        </td>
        <td style="padding:0px;" width="65%">
            <a href="https://www.sababozpolat.com/lectures/scientific-programming"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/comp2083.png">
            </a>
        </td>
    </tr>
</table>

# Sets

Mathematically a set is a collection of items not in any particular order. A Python set is similar to this mathematical definition with below additional conditions.

 - The elements in the set cannot be duplicates.
 - The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.
 - There is no index attached to any element in a Python set. So they do not support any indexing or slicing operation.
```
>>> months = {"Jan", "Feb", "Mar"}
>>> months
{'Jan', 'Mar', 'Feb'}
>>> dates = {21, 22, 17}
>>> dates
{21, 22, 17}
>>> names = {"Jane", "Joe", "David", "Alice", "Joe"}
>>> names
{"Jane", "Joe", "David", "Alice"}
```

<h3>Task 0</h3>
Following code contains two different types of containers with the exact same value assignments, first one is defined as a list and the other is a set.
Run the code and investigate the printed text. What can you say about this outcome? What are the differences between a list and a set you can say based upon printed lines?

In [2]:
# names as a list:
names_list = ["Jane", "Joe", "David", "Alice", "Joe"]

# names as a set:
names_set = {"Jane", "Joe", "David", "Alice", "Joe"}

# print them and reflect on the result.
print("Names List:", names_list)
print(" Names Set:", names_set)

list=["1","2","3","4","5","3"]
list={"1","2","3","4","5","3"}
print(list)

Names List: ['Jane', 'Joe', 'David', 'Alice', 'Joe']
 Names Set: {'Alice', 'Joe', 'David', 'Jane'}
{'5', '4', '1', '2', '3'}

<h3>Task 1</h3>

Create a set of month names and print it.

In [4]:
list=["Ocak","Şubat","Mart","Nisan","Mayıs","Ocak"]
list_set={"Ocak","Şubat","Mart","Nisan","Mayıs","Ocak"}
print(list)
print(list_set)

['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Ocak']
{'Şubat', 'Nisan', 'Ocak', 'Mart', 'Mayıs'}

## Accessing values in a set

We cannot access individual values in a set. But we can also get a list of individual elements by looping through the set.

## Adding items to a set

We can add elements to a set by using add() method. Again as discussed there is no specific index attached to the newly added element.

```
>>> days = {"Mon", "Tue", "Wed", "Thu", "Fri", "Sat"}
>>> days
{"Mon", "Tue", "Wed", "Thu", "Fri", "Sat"}
>>> days.add("Sun")
>>> days
{"Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"}
```

<h3>Task 2</h3>

Create a set of numbers from 1 to 5. Do the followings:
 - Print the set.
 - Add next 3 numbers to the set.
 - Print the set, again.

In [13]:
list1={1, 2, 3, 4, 5}
print(list1)
list1.add(6)
list1.add(7)
list1.add(8)
print(list1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

## Removing item from a set

We can remove elements from a set by using discard() method. Again as discussed there is no specific index attached to the newly added element.
```
>>> days = {"Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"}
>>> days
{"Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"}
>>> days.discard("Wed")
>>> days
{"Mon", "Tue", "Thu", "Fri", "Sat", "Sun"}
```

<h3>Task 3</h3>

Create a set with the names of five different makeup items. Do the followings:

 - Print the set.
 - Delete one item from the set by discard method.
 - Print the set, again.

In [14]:
list={"a","b","c","d","e"}
list.discard("c")
print(list)

{'e', 'a', 'd', 'b'}

## Set Operations
The sets in python are typically used for mathematical operations like union, intersection, difference and complement etc. We can create a set, access it’s elements and carry out these mathematical operations as shown below.

### Union of Sets

The union operation on two sets produces a new set containing all the distinct elements from both the sets. In the below example the element “Wed” is present in both the sets.

```
>>> days_a = {"Mon", "Tue", "Wed"}
>>> days_b = {"Wed", "Thu", "Fri", "Sat", "Sun"}
>>> days_a | days_b
{"Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"}
```

<h3>Task 4</h3>

Given following sets create and print the union of them.

In [17]:
odds = {1, 3, 5, 7, 9, 11, 13, 15}
evens = {2, 4, 6, 8, 10, 12, 14, 16}
primes = {2, 3, 5, 7, 11, 13, 17}

print(odds | evens | primes )

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}

### Intersection of Sets

The intersection operation on two sets produces a new set containing only the common elements from both the sets. In the below example the element “Wed” is present in both the sets.
```
>>> days_a = {"Mon", "Tue", "Wed"}
>>> days_b = {"Wed", "Thu", "Fri", "Sat", "Sun"}
>>> days_a & days_b
{"Wed"}
```

<h3>Task 5</h3>

Given following sets create and print the intersection of them.

In [18]:
books = {"Harry Potter", "Good Nurse", "Game of Thrones", "Eat, Pray, Love", "Sapiens", "Big Bang's Story"}
movies = {"The Godfather", "Harry Potter", "Fantastic Beasts", "Eat, Pray, Love"}

print(books & movies)

{'Eat, Pray, Love', 'Harry Potter'}

### Difference of Sets

The difference operation on two sets produces a new set containing only the elements from the first set and none from the second set. In the below example the element “Wed” is present in both the sets so it will not be found in the result set.

```
>>> days_a = {"Mon", "Tue", "Wed"}
>>> days_b = {"Wed", "Thu", "Fri", "Sat", "Sun"}
>>> days_a - days_b
{'Tue', 'Mon'}
>>> days_b - days_a
{'Sat', 'Sun', 'Thu', 'Fri'}
```

<h3>Task 6</h3>

Given following sets create and print the results of following difference operations.
 - difference of ```numbers``` from ```digits```.
 - difference of ```digits``` from ```numbers```.
 - difference of ```negative_numbers``` from ```natural_numbers```.
 - difference of ```natural_numbers``` from ```negative_numbers```.

In [21]:
numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
digits = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
negative_numbers = {-1, -2, -3, -4, -5, -6, -7}
natural_numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

print(numbers - digits)
print(digits - numbers)
print(negative_numbers - natural_numbers)
print(natural_numbers - negative_numbers)

{10, 11, 12, 13, 14, 15}
set()
{-1, -7, -6, -5, -4, -3, -2}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### Compare Sets

We can check if a given set is a subset or superset of another set. The result is True or False depending on the elements present in the sets.
```
>>> days_a = {"Mon", "Tue", "Wed"}
>>> days_b = {"Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"}
>>> days_a <= days_b
True
>>> days_b >= days_a
True
```

<h3>Task 7</h3>

Given following sets answer following questions via coding.
 - Is ```digits``` a subset of ```numbers```?
 - Is ```negative_numbers``` a subset of ```numbers```?
 - Is ```natural_numbers``` a subset of ```numbers```?
 - Is ```digits``` a superset of ```numbers```?
 - Is ```negative_numbers``` a superset of ```numbers```?
 - Is ```natural_numbers``` a superset of ```numbers```?
 - Is ```numbers``` a superset of ```digits```?
 - Is ```numbers``` a superset of ```negative_numbers```?
 - Is ```numbers``` a superset of ```natural_numbers```?

```
numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
digits = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
negative_numbers = {-1, -2, -3, -4, -5, -6, -7}
natural_numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
```

In [27]:
numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
digits = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
negative_numbers = {-1, -2, -3, -4, -5, -6, -7}
natural_numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}


print(digits<=numbers)
print(negative_numbers<=numbers)
print(natural_numbers<=numbers)
print(digits<=numbers)
print(negative_numbers>numbers)
print(natural_numbers>=numbers)
print(numbers>=digits)
print(numbers>=negative_numbers)
print(numbers>=natural_numbers)

True
False
True
True
False
False
True
False
True