<a href="https://colab.research.google.com/github/tulinkarahan/PatikaInsertionSort/blob/main/content/python/Container12_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table width="100%">
    <tr style="">
        <th style="text-align:left; padding:0px" width="5%">
            <a href="https://www.marmara.edu.tr" target="_blank">
                <img src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/mu_logo.png">
            </a>
        </th>
        <th style="padding:0px;" width="35%">
            <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/name.png">
        </th>
        <th  width="20%">
            &nbsp;
        </th>
        <th style="padding:0px" width="5%">
            <a href="https://www.sababozpolat.com" target="_blank" padding="0px">
                <img align="center" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/hp.png">
            </a>
        </th>
        <th style="padding:0px" width="5%">
            <a href="mailto:saba.bozpolat@gmail.com" target="_blank">
                <img align="center" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/email.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://www.linkedin.com/in/saba-bozpolat-644856152/" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/in.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://scholar.google.com.tr/citations?user=nSiJoMYAAAAJ&hl=en" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/GS.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://www.researchgate.net/profile/Saba-Bozpolat" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/RG.png">
            </a>
        </th>
        <th style="padding:0px" width="5%">
            <a href="https://www.youtube.com/channel/UC8-uOZud6UL7oCOE2UUBunA" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/YT.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://github.com/sbbzplt" target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/GH.png">
            </a>
        </th>
        <th style="padding:0px;" width="5%">
            <a href="https://join.slack.com/t/mu-fzk/shared_invite/zt-13jtd6dtd-g9zD5P4Zu0m5P0Gt2PNReQ"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/slack.png">
            </a>
        </th>
    </tr>
</table>
<table width="100%">
    <tr style="background-color:white;">
        <!-- <td style="text-align-left;padding:0px;" width="10%">
            <a href="https://fef.marmara.edu.tr"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/fef.png">
            </a>
        </td> -->
        <td style="padding:0px" width="25%">
            <a href="http://fzk.fen.marmara.edu.tr"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/fzk.png">
            </a>
        </td>
        <td width="10%">
            &nbsp;
        </td>
        <td style="padding:0px;" width="65%">
            <a href="https://www.sababozpolat.com/lectures/scientific-programming"
               target="_blank">
                <img align="right" src="https://raw.githubusercontent.com/MU-Physics-Department/logos/master/comp2083.png">
            </a>
        </td>
    </tr>
</table>

# Tuples

A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also.

``` python
>>> tup1 = "a", "b", "c", "d"
>>> print(tup1)
("a", "b", "c", "d")
```
``` python
>>> tup2 = (1, 2, 3, 4, 5)
>>> print(tup2)
(1, 2, 3, 4, 5 )
```
``` python
>>> tup3 = ('physics', 'chemistry', 1997, 2000)
>>> print(tup3)
('physics', 'chemistry', 1997, 2000)
```

The empty tuple is written as two parentheses containing nothing.

``` python
>>> tup4 = ()
>>> print(tup4)
()
```

To write a tuple containing a single value you have to include a comma, even though there is only one value.

``` python
>>> tup5 = (50, )
>>> print(tup5)
(50, )
```

<h3>Task 1</h3>

Create a tuple of months and print it.

In [9]:
tup=("ocak", "şubat", "mart", "nisan")
print(tup)

tup1= "mayıs", "haziran", "temmuz", "ağustos"
print(tup1)

('ocak', 'şubat', 'mart', 'nisan')
('mayıs', 'haziran', 'temmuz', 'ağustos')

## Accessing Values in Tuples


To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index.
``` python
>>> tup1 = ('physics', 'chemistry', 1997, 2000)
>>> print("tup1[0]: ", tup1[0])
tup1[0]:  physics
```
``` python
>>> tup2 = (1, 2, 3, 4, 5, 6, 7 )
>>> print("tup2[1:5]: ", tup2[1:5])
tup2[1:5]:  (2, 3, 4, 5)
```

<h3>Task 2</h3>

Create a tuple of week days and print Wednesday from the tuple to the screen.

In [15]:
tup_days = ("pazartesi", "salı", "çarşamba", "perşembe", "cuma", "cumartesi", "pazar")
print(tup_days[2])

çarşamba

## Updating Tuples


Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates.

``` python
>>> tup = (12, 34.56)
>>> tup[0] = 100
TypeError: 'tuple' object does not support item assignment
```

<h3>Task 3</h3>

Create a tuple with the names of ten different car brands. Do the followings:

 - Print the tuple.
 - Update 2nd element of the tuple with a different car brand.
 - Print the tuple, again.

In [18]:
tup=("audi", "honda", "toyota", "mercedes", "fiat")
print(tup)
tup[1]="porsche"
print(tup)

('audi', 'honda', 'toyota', 'mercedes', 'fiat')

TypeError: 'tuple' object does not support item assignment

## Delete Tuple Elements

Removing individual tuple elements is not possible.

``` python
>>> tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)
>>> print(tup)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
>>> del tup[2]
TypeError: 'tuple' object does not support item deletion
```

There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.

``` python
>>> tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)
>>> print(tup)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
>>> tup = tup[:2] + tup[3:]
>>> print(tup)
(1, 2, 4, 5, 6, 7, 8, 9)
```

To explicitly remove an entire tuple, just use the del statement.


``` python
>>> tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)
>>> print(tup)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
>>> del tup
```
<!--
<h4>
    Basic Tuples Operations
</h4>

Tuples respond to the + and * operators much like strings; they mean concatenation and repetition here too, except that the result is a new tuple, not a string.

In fact, tuples respond to all of the general sequence operations we used on strings in the prior chapter −

|Expression | Results | Description |
|:-:|:-:|:-:|
|len((1, 2, 3))|3|Length|
|(1, 2, 3) + (4, 5, 6) | (1, 2, 3, 4, 5, 6) | Concatenation |
|('Hi!',) * 4 | ('Hi!', 'Hi!', 'Hi!', 'Hi!') | Repetition |
|3 in (1, 2, 3) | True | Membership |
|for x in (1, 2, 3): print(x), | 1 2 3 | Iteration | -->

<h3>Task 4</h3>

Create a tuple with the names of five different makeup items. Do the followings:

 - Print the tuple.
 - Delete the fourth element from the tuple via del statement.
 - Print the tuple, again.

In [22]:
tup = ("blush", "tint", "eyeshadow", "lipstick", "lipbalm")
print(tup)
tup = tup[:3] + tup[4:]
print(tup)

('blush', 'tint', 'eyeshadow', 'lipstick', 'lipbalm')
('blush', 'tint', 'eyeshadow', 'lipbalm')